@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$font-family: 'Montserrat';

$color--main:#323264;
$color--main-alt:#46466E;
$color--main-soft:#686887;
$color--accent: #F0145A;
$color--activ-regular:#24A3FF;
$color--active-hover:#0085FF;
$color--active:#006CCF;
$color--grey-bg:#F5F5FA;
$color--grey-bgalt: #EDEDF7;
$color--grey-text: #B3B3BA;
$color--grey-separator: #E6E6F0;
$color--gradient: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$color--gradient-soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$color--gradient-red: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
$color--gradient-supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$color--gradient-redtext: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$color--basic: #000000;

@mixin fontFamily-bold ($font-family, $font-style, $font-weight, $font-size, $line-height, $color) { 
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height:$line-height;
    color: $color;
}

@mixin fontFamily-regular ($font-family, $font-style, $font-weight, $font-size, $line-height, $color) { 
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height:$line-height;
    color: $color;
}

@mixin SpaceBetween {
    display: inline-flex;
    justify-content: space-between;    
}

@mixin FlexColunm {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/*body {
    overflow-x: hidden
}*/

a {
    text-decoration: none;
}

input, textarea, button {
    outline: none;
    width: 100%;
}

.title {
    @include fontFamily-bold($font-family, normal, 700, 38px, 46px, $color--gradient-red);
    background-clip: text;
    text-emphasis-color: transparent;
    background: -webkit-linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.achievements__switch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.achievements__switch-circle {
        display: block;
        position: relative;
        width: 16px;
        height: 16px;
        background: $color--activ-regular;
        opacity: 0.2;
        border-radius: 50%;  
    
        &:hover {
        opacity: 0.6; 
        }
}
    
.circle-active {
        opacity: 1;
    }

.team__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:3.5px;

    .team__item-text {
        @include fontFamily-bold($font-family, normal, 700, 14px, 17px, $color--activ-regular);
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 375px) {
    .title {
        @include fontFamily-bold($font-family, normal, 700, 30px, 37px, $color--gradient-red);
    } 
}