@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.footer {
  background-color: #F5F5FA;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /*padding:32px 0 39px;*/
  gap: 21px;
}

.footer__map {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  order: 0;
  gap: 20px;
}
.footer__map-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
.footer__map-link {
  position: relative;
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #24A3FF;
  letter-spacing: 1px;
  text-transform: uppercase;
  align-items: center;
}
.footer__map-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: end;
  order: 2;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}

.footer__low {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  order: 3;
  gap: 20px;
}
.footer__low-facebook {
  fill: #24A3FF;
  transition: opacity 0.3s ease-in-out;
}
.footer__low-facebook:hover {
  fill: #F0145A;
  transition: opacity 0.3s ease-in-out;
}

.footer__low-phone {
  position: relative;
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #46466E;
}

.footer__low-phone::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
}

.footer__low-mail {
  position: relative;
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  transition: opacity 0.3s ease-in-out;
}
.footer__low-mail:hover {
  color: #F0145A;
  transition: opacity 0.3s ease-in-out;
}
.footer__low-mail::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
}

@media screen and (max-width: 768px) {
  .footer__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 30px 80px;
    gap: 30px;
  }

  .footer__wrapper-dark {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .footer__map {
    flex-wrap: wrap;
    order: 0;
  }

  .footer__copyright {
    justify-content: center;
    order: 3;
  }

  .footer__copyright-dark {
    justify-content: end;
    order: 1;
  }

  .footer__low {
    flex-wrap: wrap;
    order: 2;
  }
}
@media screen and (max-width: 575px) {
  .footer__wrapper {
    padding: 0px;
    gap: 0px;
  }

  .footer__map {
    flex-direction: column;
    justify-content: center;
    order: 0;
  }
  .footer__map-link::before {
    display: none;
  }

  .footer__copyright {
    justify-content: center;
    order: 3;
  }

  .footer__low {
    flex-direction: column;
    justify-content: center;
    order: 2;
  }

  .footer__low-phone::before {
    display: none;
  }

  .footer__low-mail::before {
    display: none;
  }
}/*# sourceMappingURL=footer.css.map */