@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.header {
  padding-top: 50px;
  padding-bottom: 5px;
}

.header_homepage {
  top: 0;
}

.header-dark {
  background-color: #323264;
}

.header-bright {
  background-color: #FFFFFF;
}

.header__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 318px 1fr;
  grid-template-rows: 1fr 1fr;
}

.header__wrapper-dark {
  width: 100%;
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-template-rows: 1fr 1fr;
}

.header .logo-wrapper {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
  justify-items: center;
}

.logo__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.logo__text {
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #323264;
  align-items: baseline;
}

.header .logo__img {
  max-width: 130px;
}

.logo-hidden {
  display: none;
}

.header__info {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -moz-column-gap: 18px;
  column-gap: 18px;
}

.header__langs {
  display: flex;
  gap: 14px;
  align-items: center;
}

.header__lang {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #B3B3BA;
  /*line-height: 125%;*/
}
.header__lang:hover {
  padding: 5px 7px;
  background-color: #F5F5FA;
  border-radius: 8px;
  transition: all 0.3s ease-in;
}

.header__lang_dark {
  color: #FFFFFF;
}

.header__lang_bright {
  color: #FFFFFF;
}

.header__lang-active {
  padding: 5px 7px;
  background-color: #F0145A;
  border-radius: 8px;
  color: #FFFFFF;
}
.header__lang-active:hover {
  color: #B3B3BA;
  background-color: #F5F5FA;
  transition: all 0.3s ease-in;
}

.header__address {
  position: relative;
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
  letter-spacing: 1px;
  /*line-height: 125%;*/
}

.header__address::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
}

.header__telnumber {
  position: relative;
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}

.header__telnumber::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
}

.header .facebook-link {
  position: relative;
  display: inline-block;
}

.header .facebook-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
}

.header .facebook-icon {
  fill: #24A3FF;
  transition: fill 0.3s ease-in;
}

.header .facebook-icon :hover {
  fill: #F0145A;
  transition: fill 0.3s ease-in;
}

.header__icon-dark {
  fill: #FFFFFF;
}

.header__nav {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-items: flex-start;
}

.header__nav__list {
  display: flex;
  justify-content: end;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

.header__nav__link {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  transition: border 0.3s ease;
}
.header__nav__link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #F0145A;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease-in;
}
.header__nav__link:hover {
  color: #F0145A;
}
.header__nav__link:hover:after {
  transform: scale(1);
  transform-origin: top left;
}

.header_link-dark {
  color: #FFFFFF;
}

.header__nav__link_current {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}

@media screen and (max-width: 1024px) {
  .header__wrapper-dark {
    grid-template-columns: 400px 1fr;
  }
}
@media screen and (max-width: 768px) {
  .header__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    row-gap: 30px;
  }

  .header__wrapper-dark {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    row-gap: 30px;
  }

  .header .logo-wrapper {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    justify-items: center;
  }

  .header .logo__img {
    max-width: 130px;
  }

  .header__info {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -moz-column-gap: 18px;
    column-gap: 18px;
  }

  .header__nav {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .header__nav__list {
    display: flex;
    justify-content: end;
    -moz-column-gap: 15px;
    column-gap: 15px;
  }
}
@media only screen and (max-width: 575px) {
  .header {
    padding-top: 0px;
    overflow-x: hidden;
  }

  .header__wrapper .header__wrapper-dark {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .header .logo-wrapper {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .header .logo__img {
    max-width: 69.33px;
    max-height: 32px;
  }

  .logo__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #323264;
  }

  .header__info {
    position: relative;
    grid-column: 1/4;
    justify-content: space-between;
    align-items: center;
  }
  .header__info::before {
    content: "";
    position: absolute;
    width: calc(100% + 280px);
    height: 32px;
    left: -140px;
    background-color: #F5F5FA;
    z-index: -1;
  }

  .header__nav {
    display: none;
  }

  .header__address {
    display: none;
  }

  .header__telnumber::before {
    display: none;
  }

  .header .facebook-link::before {
    background-color: none;
  }

  .header .facebook-link {
    display: none;
  }

  .logo__link {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .header__burger {
    grid-column: 3/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 32px;
    padding: 7px;
  }
  .header__burger::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #323264;
  }
  .header__burger::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #323264;
  }
  .header__burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #323264;
  }
}/*# sourceMappingURL=header.css.map */